.containter {
  max-width: 1560px;
  background-color: #cccccc;
  padding: 1.5rem;
  margin: 32px 0;
  display: flex;
  background: linear-gradient(20deg, #646464, #f3f3f39d);
}

.form-control {
  background: linear-gradient(-190deg, #bbbbbb, #859c85de);
}

.left-column {
  flex: 1;
  padding: 20px;
  margin-left:10px;
  margin-top: 10px;
  margin-right: 30px;
  height: 740px;
  max-width: 380px;
  background: linear-gradient(-190deg, #707070, #4e664ede);
}

.right-rows {
    flex: 2;
    flex-direction: column;
}

.row {
    background-color: #dcdcdc;
    margin: 10px;
    padding: 30px;
    height: 350px;
    background: linear-gradient(-190deg, #707070, #4e664ede);
}

.rowmarginbottom {
  margin-bottom: 40px;
}
.logo{
  width: 36px;
  height: 26px;
}