.containter {
    max-width: 1560px;
    background-color: #cccccc;
    padding: 1.5rem;
    margin: 32px 0;
    display: flex;
  }


  .left-column {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;
  height: 740px;
  max-width: 380px;
  

}

.right-rows {
    flex: 2;
    flex-direction: column;
}

.row {
    background-color: #dcdcdc;
    margin: 10px;
    padding: 30px;
    height: 365px;
}