body {
  margin: 3px;
  background: linear-gradient(-30deg, #20532f, #6d6c6c7a);
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold;
  font-style: oblique;
  font-size: 18px;
  color: #ffffff; 

}
.navbar{
  background: linear-gradient(-2deg, #ffffff, #2861005b);
  color: #ffffff; 
}

.dropdown-menu {
  background: linear-gradient(-2deg, #ffffff, #6a974a);
}

.dropdown-menu a:hover{
  background: radial-gradient(80px, #ffffff85, #70975480);
}

.dropdown-item {
  font-size: 17px;
  font-weight: bolder;
}

.RESULT{
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold;
  font-style: oblique;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}