body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-190deg, #707070, #4e664ede); /* Define your gradient colors */
  font-family: Arial, sans-serif;
  color: #ffffff; /* Set the font color for better contrast */
}


