body {
  margin: 3px;
  background: linear-gradient(-30deg, #4a752c, #6d6c6c7a);
  font-family: Arial, sans-serif; 
  color: #ffffff; 

}
.navbar{
  background: linear-gradient(-2deg, #ffffff, #2861005b);
  color: #ffffff; 
}

.dropdown-menu{
  background: linear-gradient(-2deg, #ffffff, #2861005b);
  color: #ffffff; 
}